.wrapper {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr;
    row-gap: 2rem;
}

@media screen and (max-width: 992px),(max-height: 800px) {
    .wrapper {
        row-gap: 1.5rem;
    }
}

@media screen and (max-device-width: 576px),(max-height: 500px) {
    .wrapper {
        row-gap: .5rem;
    }
}